{% load static %}
{% block content %}
{% include 'header.html' %}

    <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center mb-4">User Files</h2>
        </div>
      </div>
      <div class="row">
        {% for i in result %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body text-center">
              <img src="/media/{{ i.file }}" alt="User File" class="img-fluid rounded mb-3" style="max-height: 200px;">
              <h5 class="card-title">{{ i.username }}</h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="contact-dec">
      <img src="{% static 'assets/images/contact-dec.png' %}" alt="">
    </div>
    <div class="contact-left-dec">
      <img src="{% static 'assets/images/contact-left-dec.png' %}" alt="">
    </div>
  </div>




  {% endblock %}